html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    
    margin: 0;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}



/* Header */
header {
    z-index: 1020;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px 0; 
    scroll-behavior: smooth;
    /* background-color: red; */
}
header .header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1000px;
    
    color: #f1f1f1;

    text-shadow: 4px 4px 3px rgba(0,0,0,0.7);
}
header .header-title {
    font-size: 28px;
    font-weight: 800;
}
header .header-title a {
    text-decoration: none;
    color: #f1f1f1;
}
header .header-item {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
}



/* Top */
.top {
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    background-image: linear-gradient(180deg, rgba(75, 75, 75, 0.3) 0,rgba(70, 70, 70, 0.3)), url('./images/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.top .top-text {
    position: absolute;
    
    -webkit-filter: none;
    filter: none;
    text-align: center;
    color: #ffffff;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top .top-text .top-text-header {
    font-size: 62px;
    font-weight: 800;
    letter-spacing: 0.25em;
}
.top .top-text .top-text-body {
    margin-top: 18px;
    font-size: 20px;
    letter-spacing: 0.15em;
}



/* About */
.about .about-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-contents .about-item {
    text-align: center;
    flex: 1 1 30%;
    display: flex;
    margin: 16px 0;
}
.about .about-contents .about-item .about-item-icon {
    font-size: 40px;
    margin-right: 32px;
    margin-left: 62px;
}
.about .about-contents .about-item .about-item-contents {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.about .about-contents .about-item .about-item-contents .about-content-title {
    padding-top: 4px;
    font-size: 20px;
    font-weight: 500;
}
.about .about-contents .about-item .about-item-contents .about-content-text {
    font-weight: 300;
}



/* Skills */
.skill {
    background-color: #213b91;
    color: #ffffff;
}
.skill .skill-contents {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 600px;
}
.skill .skill-contents .skill-list {
    display: flex;
    flex-wrap: wrap;
    color: #000000;
}
.skill .skill-contents .skill-list .skill-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;

    padding: 32px 0;
    margin: 18px;
    height: 100%;
    text-align: center;

    background-color: rgba(255, 255, 255);
    border-radius: 1em;
}
/* .skill .skill-contents .skill-list .skill-item:nth-child(1),
.skill .skill-contents .skill-list .skill-item:nth-child(3) {
    margin-right: 18px;
} */
.skill .skill-contents .skill-list .skill-item div {
}
.skill .skill-contents .skill-list .skill-item div img {
    width: 128px;
    margin: 16px 0;
}



/* Archive */
.archive {
    background-color: #252525;
    color: #ffffff;
}
.archive .archive-contents .archive-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 40%;

    color: #000000;
}
.archive .archive-contents .archive-list .archive-item {
    display: flex;
    flex-direction: column;
    
    background-color: #ffffff;
    border-radius: 1em;

    padding: 10px 30px;
    margin: 0 40px;
}
.archive .archive-contents .archive-list .archive-item .archive-item-image img {
    width: 220px;
}
.archive .archive-contents .archive-list .archive-item .archive-item-text div {
    padding: 4px 0;
}
.archive .archive-contents .archive-list .archive-item .archive-item-text div ul {
    padding-left: 20px;
}



/* Project */
.project {
    background-color: #0aa17b;
    color: #ffffff;
}
.project .project-contents .project-list {
    display: flex;
    flex-direction: column;
    margin: 36px 0;
}
.project .project-contents .project-list .project-item {
    background-color: #ffffff;
    color: #000000;
    border-radius: 1em;

    padding: 10px 10px;
    margin: 0 40px;
}
.project-item .project-title {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}
.project-item .project-subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #797979;
}
.project-item .project-detail {
    display: flex;
    justify-content: center;
    margin: 24px auto;
}
.project-item .project-image {
    position: relative;
    width: auto;
    max-width: 300px;
    max-height: 400px;
    margin: 0 8px;
    background-color: #fff;
}
.project-detail .project-description {
    margin: 0 20px;
    width: 500px;
}
.project-detail .project-description span {
    color: #2f72ca;
}
.project-detail .project-description .project-description-item {
    width: 100%;
    margin: 16px 0;
}
.project-detail .project-description .project-description-item .project-description-item-label {
    display: inline-block;
    font-weight: 600;
    width: 8.5rem;
    vertical-align: top;
    padding-left: 4px;
    border-left: 5px solid #222;
}
.project-detail .project-description .project-description-item .project-description-item-value {
    display: inline-block;
    vertical-align: bottom;
    width: 70%;
}



/* Footer */
footer {
    margin: 0;
    background-color: #252525;
    color: #ffffff;
    height: 160px;
}
footer .footer-contents {
    padding: 68px;
}
footer .footer-contents .footer-text {
    text-align: center;
}



/* 부분별 폼 크기 */
.about
, .skill
, .archive
, .project {
    margin: 0 auto; 
    padding: 35px 0;
}
/* 부분별 넓이 */
.about
/*, .skill .skill-contents*/
, .archive .archive-contents
, .project .project-contents {
    max-width: 1020px;
    margin: 0 auto;
}

/* 타이틀 텍스트 */
.title-text {
    margin: 0 auto;
    margin-top: 24px;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
}
.title-text:after {
    content: "";
    display: block;
    width: 250px;
    border-bottom: 1px solid #bcbcbc;
    margin: 0 auto;
    margin-bottom: 38px;
}
.title-sm-text {
    margin: 0 auto;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
}
.title-sm-text:after {
    content: "";
    display: block;
    width: 180px;
    border-bottom: 1px solid #bcbcbc;
    margin: 0 auto;
    margin-bottom: 38px;
}

/* 그림자 */
.shadow {
    -webkit-box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.45); 
    box-shadow: 10px 6px 20px 0px rgba(0,0,0,0.45);
}

.header-item li {
    font-size: 18px;
    list-style: none;
    margin: 8px 20px;
}
.header-item li a {
    text-decoration: none;
    color: #ffffff;
}

hr {
    border: 0;
    border-bottom: 1px solid #bcbcbc;
}

@media screen and (max-width: 820px) {
    header .header-main {
        display: block;
    }
    header .header-item {
        display: none;
    }

    .top .top-text .top-text-header {
        font-size: 38px;
    }
    .top .top-text .top-text-body {
        font-size: 18px;
        letter-spacing: 0.05em;
    }
    
    .title-text {
        font-size: 36px;
    }

    .project-item .project-detail {
        flex-direction: column;
    }
    .project-detail .project-description {
        margin-top: 20px;
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .about .about-contents .about-item {
        flex: 1 1 40%;
    }
}

@media screen and (max-width: 600px) {
    .about .about-contents .about-item {
        flex: 1 1 60%;
    }
}